services:
  proxy:
    image: nginx
    ports:
      - "3000:80"
    volumes:
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - jomon-server

  jomon-server:
    build:
      context: ./
      dockerfile: ./Dockerfile.dev
    command: "air -c .air.toml"
    environment:
      MARIADB_USERNAME: root
      MARIADB_PASSWORD: password
      MARIADB_HOSTNAME: db
      MARIADB_DATABASE: jomon
      SESSION_KEY: secret
      IS_DEBUG_MODE: "true"
      UPLOAD_DIR: ./uploads
    env_file: .env
    ports:
      - "1323:1323"
    volumes:
      - "./:/src"
    depends_on:
      db:
        condition: service_healthy
    tty: true

  db:
    image: mariadb:10.3.29
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: jomon
      TZ: Asia/Tokyo
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_general_ci
    volumes:
      - "./docker/mysql:/docker-entrypoint-initdb.d"
    expose:
      - "3306"
    ports:
      - "3306:3306"
    healthcheck:
      test: [
        "CMD",
        "mysqladmin",
        "ping",
        "-ujomon",
        "-ppassword"
      ]
      interval: 10s
      timeout: 5s
      start_period: 5s
      retries: 3

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      - PMA_ARBITRARY=1
      - PMA_HOST=db
      - PMA_USER=root
      - PMA_PASSWORD=password
    ports:
      - 8888:80
