version: "3"
services:
  proxy:
    image: nginx
    ports:
      - "3005:80"
    volumes:
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - jomon-server
      - jomon-client

  jomon-server:
    build:
      context: ./
      dockerfile: ./development/Dockerfile
    entrypoint: dockerize -wait tcp://db:3306 -timeout 60s
    command: task -w
    environment:
      MARIADB_USERNAME: root
      MARIADB_PASSWORD: password
      MARIADB_HOSTNAME: db
      MARIADB_DATABASE: jomon
    ports:
      - "1323:1323"
    volumes:
      - "./:/src"
    depends_on:
      - db

  jomon-client:
    build: ./client
    volumes:
      - "./client:/app:cached"
      - "/app/node_modules"
    tty: true
    environment:
      - CHOKIDAR_USEPOLLING=true
    entrypoint: npm run dev

  db:
    image: mariadb:10.11
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: jomon
      TZ: Asia/Tokyo
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_general_ci

    ports:
      - "3306:3306"
