version: "3"
services:
  proxy:
    image: nginx
    ports:
      - "3000:80"
    volumes:
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - jomon-server

  jomon-server:
    build:
      context: ./
      dockerfile: ./development/Dockerfile
    entrypoint: dockerize -wait tcp://db:3306 -timeout 60s
    command: task -w
    environment:
      MARIADB_USERNAME: root
      MARIADB_PASSWORD: password
      MARIADB_HOSTNAME: db
      MARIADB_DATABASE: jomon
    env_file: ./.env
    ports:
      - "1323:1323"
    volumes:
      - "./:/src"
    depends_on:
      - db
    tty: true

  db:
    image: mariadb:10.3.29
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: jomon
      TZ: Asia/Tokyo
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_general_ci
    volumes:
      - "./docker/mysql.cnf:/etc/mysql/conf.d/mysql.cnf"
    expose:
      - "3306"
    ports:
      - "3306:3306"
