version: "3"
services:
  jomon-server:
    build:
      context: ../../
      dockerfile: ./Dockerfile
    env_file: ../../.env
    command: /app/Jomon
    environment:
      MARIADB_USERNAME: root
      MARIADB_PASSWORD: password
      MARIADB_HOSTNAME: db
      MARIADB_DATABASE: jomon
    ports:
      - "1323:1323"
    restart: always

  db:
    image: mariadb
    restart: always
    env_file: ../../.env
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: jomon
      TZ: Asia/Tokyo
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_general_ci
    expose:
      - "3306"
    ports:
      - "3306:3306"
