$color-primary: #011a27;
$color-primary-hover: #00103a;
$color-primary-disabled: #00669c;
$color-primary-accent: #52254f;

$color-secondary: #f0daee;
$color-secondary-hover: #e0bfde;
$color-secondary-disabled: #cccccc;
$color-secondary-accent: #e0bfde;

$color-grey: #9e9e9e;
$color-info: #00d3ee;
$color-success: #5cb860;
$color-warning: #ffa21a;
$color-error: #f55a4e;

$color-text-primary: #ffffff;
$color-text-primary-disabled: #888888;

$color-text-secondary: #011a27;
$color-text-secondary-disabled: #011a275b;

$color-text-white: #eeeeee;

$color-background: #eeeeee;

$breakpoint: 768px;
