@import "./reset"; // Vuetifyから移行した後用

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // text-align: center;
}

$color-primary: #2f9393;
$color-primary-hover: #4f9393;
$color-primary-disabled: #6f9393;

$color-secondary: #011A27;
$color-secondary-hover:  #00103a;
$color-secondary-disabled: #00669c;

$color-warning: #F0810F;
$color-error: #f33a2d;

$color-text-primary: #ffffff;
$color-text-primary-disabled:#ffffff5b;

$color-text-secondary:  #011A27;
$color-text-secondary-disabled: #011A275b;

$color-text-white: #eeeeee;

$color-background: #eeeeee;

$breakpoint: 768px;
