@import "./reset"; // Vuetifyから移行した後用

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // text-align: center;
}

$color-primary: #F0810F;
$color-primary-hover: #f19335;
$color-primary-disabled: #f1b06e;

$color-secondary: #011A27;
$color-secondary-hover:  #053a57;
$color-secondary-disabled: #00669c;

$color-error: #f55a4e;

$color-text-primary: #2B2B2B;
$color-text-primary-disabled: #444444;

$color-text-secondary:  #eeeeee;
$color-text-secondary-disabled: #eeeeee5b;

$color-text-white: #eeeeee;

$color-background: #eeeeee;
