name: Go
on:
  push:
    paths:
    - "**.go"
    - "go.mod"

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.16
      uses: actions/setup-go@v1
      with:
        go-version: 1.16
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Check cache
      uses: actions/cache@v1
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Download dependencies
      run: go mod download

    - name: Build
      run: go build -v

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: [build]
    services:
      mariadb:
        image: mariadb:10.3.29
        ports:
          - 50000:3307
        env:
          MYSQL_ROOT_PASSWORD: password
          MYSQL_DATABASE: jomon

    steps:

    - name: Set up Go 1.16
      uses: actions/setup-go@v2
      with:
        go-version: 1.16
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Check cache
      uses: actions/cache@v2
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Download dependencies
      run: go mod download

    - name: Test
      run: go test -v -race -coverprofile=coverage.out -covermode=atomic ./...
      env:
        MARIADB_USERNAME: root
        MARIADB_PASSWORD: password
        MARIADB_HOSTNAME: "localhost:50000"
        MARIADB_DATABASE: jomon
        MYSQL_HOSTNAME: mariadb

    - name: Upload coverage to Codecov
      run: bash <(curl -s https://codecov.io/bash)
