name: Go

on:
  push:
    branches:
      - v2
  pull_request:
    branches:
      - v2
  workflow_dispatch:
  schedule:
    - cron: "0 0 1 * *"

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version-file: ./go.mod
      id: go

    - name: Download dependencies
      run: go mod download

    - name: Build
      run: |
        go build -v
        go build -o ./migration -v cmd/migration/main.go

  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: ./go.mod
      - uses: golangci/golangci-lint-action@v8
        with:
          version: latest

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: [build]
    services:
      mariadb:
        image: mariadb:10.11.4
        ports:
          - 50000:3306
        env:
          MYSQL_ROOT_PASSWORD: password
          MYSQL_DATABASE: jomon

    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version-file: ./go.mod
      id: go

    - name: Download dependencies
      run: go mod download

    - name: Create uploads directory
      run: mkdir -p $GITHUB_WORKSPACE/uploads

    - name: Set UPLOAD_DIR env
      run: echo "UPLOAD_DIR=$GITHUB_WORKSPACE/uploads" >> $GITHUB_ENV

    - name: Test
      run: go test -race -coverprofile=coverage.out -covermode=atomic ./...
      env:
        MARIADB_USERNAME: root
        MARIADB_PASSWORD: password
        MARIADB_DATABASE: jomon
        MARIADB_HOSTNAME: "localhost"
        MARIADB_PORT: 50000

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        files: ./coverage.out
        token: ${{ secrets.CODECOV_TOKEN }}

  migrations:
    runs-on: ubuntu-latest
    needs:
      - build
    services:
      mariadb:
        image: mariadb:10.11.4
        ports:
          - 50000:3306
        env:
          MYSQL_ROOT_PASSWORD: password
          MYSQL_DATABASE: jomon
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - uses: ariga/setup-atlas@v0
      - run: |
          go run cmd/migration/main.go diff
          git diff --quiet --exit-code -- migrations || {
            echo 'ERROR: uncommitted schema changes found' 1>&2
            echo '       please run cmd/migration/main.go locally' 1>&2
            echo '       for more information, see commit e45f8ad' 1>&2
            exit $?
          }
        env:
          MARIADB_HOSTNAME: 'localhost'
          MARIADB_PORT: '50000'
          MARIADB_USERNAME: 'root'
          MARIADB_PASSWORD: 'password'
          MARIADB_DATABASE: 'jomon'
      # TODO: atlas migrate lint
      # NOTE: atlas migrate test, atlas schema test はやらない
      #       どちらも Atlas Proユーザー向けの機能で使えないため
