name: Go

on:
  push:
    branches:
      - v2
  pull_request:
    branches:
      - v2
  workflow_dispatch:
  schedule:
    - cron: "0 0 1 * *"

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version-file: ./go.mod
      id: go

    - name: Download dependencies
      run: go mod download

    - name: Build
      run: go build -v

  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: ./go.mod
      - uses: golangci/golangci-lint-action@v7
        with:
          version: latest

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: [build]
    services:
      mariadb:
        image: mariadb:10.3.29
        ports:
          - 50000:3306
        env:
          MYSQL_ROOT_PASSWORD: password
          MYSQL_DATABASE: jomon

    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version-file: ./go.mod
      id: go

    - name: Download dependencies
      run: go mod download

    - name: Create uploads directory
      run: mkdir -p $GITHUB_WORKSPACE/uploads

    - name: Set UPLOAD_DIR env
      run: echo "UPLOAD_DIR=$GITHUB_WORKSPACE/uploads" >> $GITHUB_ENV

    - name: Test
      run: go test -race -coverprofile=coverage.out -covermode=atomic ./...
      env:
        MARIADB_USERNAME: root
        MARIADB_PASSWORD: password
        MARIADB_DATABASE: jomon
        MARIADB_HOSTNAME: "localhost"
        MARIADB_PORT: 50000

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        files: ./coverage.out
        token: ${{ secrets.CODECOV_TOKEN }}
